<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blogs</title>
</head>
<body>
  <h1>Your Personal Blog</h1>

  <form action="/create" method="POST">
    <input type="text" name="articleText" placeholder="Write blog article here">
    <input type="submit" value="OK">
  </form>

  <h2>Blogs List</h2>
  <% if (locals.articleTexts) { %>
    <% for (let i = 0; i < articleTexts.length; i++) { %>

      <form action="/save" method="POST">
        <p contenteditable="true" id="<%= 'editText' + i %>"><%= articleTexts[i] %></p>
        <input type="hidden" name="editIndex" value="<%= i %>">
        <input type="hidden" name="editText" id="<%= 'editTextValue' + i %>" value="<%= articleTexts[i] %>">
        <input type="submit" value="Save">
      </form>

      <form action="/delete" method="POST">
        <input type="hidden" name="deleteIndex" value="<%= i %>">
        <button type="submit">Delete</button>
      </form>

    <% } %>
  <% } %>

  <script>
    // Update the hidden input field with the edited content before submitting the form
    document.querySelectorAll('[contenteditable]').forEach((element, index) => {
      const editTextValueInput = document.getElementById(`editTextValue${index}`)
      // This makes the hidden input listen for any changes to the p element and update
      element.addEventListener('input', () => {
        // hidden input = updated p content
        editTextValueInput.value = element.innerHTML
      })
    })
  </script>
</body>
</html>

